New Promo Code Available!

Hello {{ user.username }},

We are excited to inform you that a new promo code is now available!

Here are the details:
Promo Code: {{ promo_code.code }}
Discount Type: {{ promo_code.get_discount_type_display }}
Discount Value: {{ promo_code.discount_value }}
Valid From: {{ promo_code.valid_from }}
Valid To: {{ promo_code.valid_to }}
Maximum Usage Count: {{ promo_code.max_usage_count }}

Start using this promo code now and enjoy the benefits!

Thank you for being a valued member of our community.

Sincerely,
CinemaVerse